.loader {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
