.content img {
  height: 500px;
  width: 500px;
}
.hotel-info {
  background-color: rgb(132, 136, 139);
  width: 50%;
  height: 20%;
  margin: 2% auto;
}
.customer-info {
  margin: 2%;
}
.tarrif-detail {
  margin: 2%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
}
